<mat-toolbar color="primary">
  <span>Angular Formly</span>
</mat-toolbar>

<div>
  <form [formGroup]="contactForm" (ngSubmit)="submitForm(contactModel)">
    <formly-form
      [model]="contactModel"
      [fields]="contactFields"
      [form]="contactForm"
    ></formly-form>
    <button [disabled]="contactForm.invalid" type="submit" mat-raised-button>
      Submit
    </button>
  </form>

  <div class="code">
    <h1>Model</h1>
    <pre>Contact: {{ contactModel | json }}</pre>
    <pre>Form is valid: {{ contactForm.valid ? "Yes" : "No" }}</pre>
  </div>
</div>
